
        *
        {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .main-header{
            background-color: #000;
        }
        div .Toyata{
            margin: 0;
        }
        .pic1{
            background-color: red;
        }
        .FirstTitle
        {
            display: flex;
            justify-content:space-between;
            border-bottom:1px solid black;
        }
        div .Secont
        {
            margin:0 20px; 
            display: flex;
            align-items: center;
        }
        .p{
            margin: 0 6px;
        }
        .p::before{
            content:'| ';
        }
        video{
            width: 100%;
            height: 100%;
        }
        .slider{
            width: 100%;
            
        }
        .slider ul{
            display: flex;
            justify-content: center;
            font-size: 30px;
            background-color: #000;
            
        }
        .slider ul a{
            margin: 0 50px;
            color: #fff;
            position: sticky;
            top: 20px;
        }
        .asset19pic{
            display: flex;
            position: relative;
            width: 100%;
            height: 600px;
            justify-content:center;
            align-items: center;
            background-color: black;
        }
        .asset19pic img{
            position: absolute;
            width: 25%;
            background-color: #000;
            bottom:0 ;
            /* left: 40%; */
        }
        .asset19txt
        {
            position: absolute;
            text-align:center;
            /* top: 25%;
            left: 30%; */
            font-size: 40px;
            color: #f00;
        }
        .more-button{
            position: absolute; 
            right: 0;
            display: flex;
            flex-direction: column;
            margin: 0 10px;
            /* position: sticky; */
            top: -40px;
            
        }
        .main-body
        {
            position: relative;
        }
        .Five-advantages{
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Five-advantages-txt{
            height: 100px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .Five-advantages-txt div{
            height: 40px;
            border-style: dotted ;
            border-color:#aaa;
            border-bottom: 3px solid #f00;
            margin: 0 10px;
            width: 170px;
            font-size: 20px;
        }
        .main-fooder{
            display: flex; 
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .div-asset57{
            position:relative; 
            margin: 100px; 
            left: 35px;
        }
        .div-asset64{
            position:relative; 
            margin: 0 0 100px 0; 
            left: 35px;
        }
        .div-asset61{
            position:relative; 
            margin: 100px; 
            left: -70px;
        }
        .div-asset59{
            position:absolute; 
            top: -110px;
            left: -150px;
        }
        .div-asset62{
            position:absolute; 
            right: -400px;
            bottom: 200px;
        }
        .div-asset60{
            position:absolute; 
            bottom: -210px;
            left: -100px;
        }
        .div-asset63{
            position:absolute; 
            bottom: -120px;
            left: 250px;
        }
        .div-asset75{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 200px;
            position: relative;
        }
        .div-asset75 img{
            width: 60%;
        }
        .div-asset73{
            position: absolute;
            right: 310px;
            bottom: -130px;
        }
        .With-car{
            display: flex;
            justify-content: center;
            justify-content: space-between;
        }
        .With-car h2{
            text-align: center;
        }
        button{
            margin: 0 0 0 10px;
            color: #fff;
            background-color: rgb(179, 49, 49);
            border-radius: 30%;
            height: 30px;
            width: 80px;
        }